@import "colors";

.stat {
  margin-top: 218px;
  margin-left: 270px;
  margin-right: 60px;
  border-top: 1px solid $borders;

  img {
    margin-left: 32px;
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;
    height: 320px;
  }

  img:first-child {
    width: 55%;
  }

  img:last-child {
    margin-left: 45px;
    width: 34%;
  }
}
